      <head>

    <style>
        #p1{
            border: 2px solid black;
            padding: 10px;
            margin: 1em;
            color: black ;
            background: lightgrey;
            overflow: auto;
        }

        #p1point5{
            float: right;
            display: none;
        }

        #p2{
            clear:both;
        }
    </style>
    </head>
